<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <p>Log in to access an all-new, intuitive experience.</p>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="data.username" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="data.password"/>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSignup()" cdkFocusInitial>Sign Up</button>
  <button mat-button (click)="onLogin()">Login</button>
  <mat-progress-bar *ngIf="loader" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="loader || error" class="small-spacer"></div>
  <p>{{ error }}</p>
</div>
